html {
  height: 100%;

}



/*--------------------------------------------Background Images---------------------------------------------------------------*/



#page-index {
    background: url("../images/all_for_one.jpg") no-repeat center center fixed; 
    
   background-repeat: no-repeat;
    background-position: center center !important;
    /*background-position: 50% 50%!important;*/
    background-attachment: fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: black;
    padding: 0 !important;
    margin: 0 !important;
    float: none !important;
    padding-bottom: 120px;
    position:relative;
    /*min-height:100%;*/
    padding-bottom: 800px
    
  

}

 /*.page-discography {*/
#page-discography {
    background: url("../images/Raven-logo.jpg") no-repeat center center fixed; 
    
   background-repeat: no-repeat;
    background-position: center center !important;
    background-attachment: fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: black;
    padding: 0;
    margin: 0;
    float: none;
}



 #page-media {
    background: url("../images/Raven-logo.jpg") no-repeat center center fixed; 
    
   background-repeat: no-repeat;
    background-position: center center !important;
    background-attachment: fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: black;
    padding: 0;
    margin: 0;
    float: none;
}


#page-history {
     background: url("../images/Raven-logo.jpg") no-repeat center center fixed; 
        background-repeat: no-repeat;
    background-position: center center !important;
    background-attachment: fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: black;
    padding: 0;
    margin: 0;
    float: none;
}





 #page-blog {
    background: url("../images/Raven-all-for-one-squared.jpg") no-repeat center center fixed; 
    
   background-repeat: no-repeat;
    background-position: center center !important;
    background-attachment: fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: black;
    padding: 0;
    margin: 0;
    float: none;
}


 #page-tour {
    background: url("../images/Raven-logo.jpg") no-repeat center center fixed; 
    
   background-repeat: no-repeat;
    background-position: center center !important;
    background-attachment: fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: black;
    padding: 0;
    margin: 0;
    float: none;
}


 #page-links {
    background: url("../images/Raven-logo.jpg") no-repeat center center fixed; 
   background-repeat: no-repeat;
    background-position: center center !important;
    background-attachment: fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: black;
    padding: 0;
    margin: 0;
    float: none;
}


 #page-booking {
    background: url("../images/Raven-logo.jpg") no-repeat center center fixed;
    background-position: center center !important;
    background-attachment: fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: black;
    padding: 0;
    margin: 0;
    float: none;
    /*height: auto;*/
    /*width: auto;*/
}




.album-logo-text {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}


.album-text {

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}


/*--------------------------------------------Navigation bar---------------------------------------------------------------*/

/*--------------------------------Navbar Postion and Appearance------------------------------------------*/ 

.navbar {
    /*font-family: Arial, sans-serif */
    font-family: 'Inknut Antiqua', serif !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: red;
    background-color: transparent;
    float:none;
    margin:0 auto;
    position: fixed;
    width: 100%;

     }

/*--------------------------------Navbar Opacity------------------------------------------*/ 
     
.navbar-nav {
    width: 100%;
    text-align: center;
    opacity: 0.7;
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    background-color: black;

/*------------------------------Navbar List-Items appearance-------------------------------*/ 

}
.navbar-nav > li {
    float: none;
    display: inline-block;
    color: red !important;
    font-size: 1.1em !important;
    font-weight: bold !important;
    background-color: black;
}     
 
/*------------------------------Navbar Link appearance-------------------------------*/  
 
.navbar-nav > li > a {
    color: red !important;
    font-size: 1.2em !important;
    font-weight: 900 !important;
    background-color: black;

}

/*------------------------------Navbar hover over Link-------------------------------*/ 

.navbar-nav > li > a:hover{
color: white !important;
font-weight: 900 !important;
background-color: red!important;
/*background-color: transparent!important;*/
}


/*---------------------..---------Navbar Active Link-----------------..--------------*/ 

 .navbar-nav > .active > a {
color: #faebd7 !important;
}

/*-----------------------.....-------Navbar Red-------------------------.......------*/ 

.navbar .navbar-default .navbar-inverse .nav-postition li a{
    color: red;
}



 
 /*--------------------------------------------Icons---------------------------------------------------------------*/
 
  /*-------------------------------------Icons List Row Padding---------------------------------------------*/

.media-list{
 padding-top: 2vh;
}


.list-section-class{
    padding-bottom: 0;
    margin-bottom: 0;
    float: none;
    
}

/*-------------------------------------Icons List Column Padding---------------------------------------------*/

.social-media-list{
    top: 0px;
   float:left;
   bottom: 0;
   text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  
}

  /*-------------------------------------Icons List Appearance---------------------------------------------*/

.list-inline .list-group-item {
  background-color: white;
  border-top: 1px solid red;
  border-left-color: #fff;
  border-right-color: #fff;
}



  /*-------------------------------------Icons List Row Padding---------------------------------------------*/


.social-media-list ul li a:hover i {
   background-color: red!important;
   color: white!important;
}




.center-block {
    justify-content: center;
    align-items: center;

    position: relative;
    vertical-align: middle;

 }
 
 .media-list {
  padding-top: 7vh!important;
 }
 
 
 /*-------------------------------------Icons List Responsive Sizing---------------------------------------------*/ 
 

@media (max-width:768px){
  .list-group-horizontal li {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    /*border: 0.5px solid #ffffff ;*/
       border: 2px solid #000000 ;
    line-height: 0.5em;
    color: #ff0000;
    background-color: black; 
    border-color: #ffffff ; 
     clear: both;
     text-align:left;
     float:left;
     font-weight: 800;
  }
  
}

@media (min-width: 768px) {
.list-group-horizontal li a {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding: 7px 7px 0px 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid #ffffff ;
    line-height: 1em;
    color: #ff0000;
    background-color: black; 
    border-color: #ffffff ; 
      text-align:left;
      font-weight: 800;
     
    }
}


@media (min-width: 1024px) {
.list-group-horizontal li a {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding: 7px 7px 0px 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid #ffffff ;
    line-height: 1em;
    color: #ff0000;
    background-color: black; 
    border-color: #ffffff ; 
    text-align:left;
    font-weight: 800;
    font-size: 80%; 
     
    }
}


.list-group-horizontal li {
    display: inline-block;
}

/*.list-group-item */
.list-group-horizontal li a {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding: 7px 7px;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid #ffffff ;
    line-height: 1em;
    color: #ff0000;
    background-color: black; 
    border-color: #ffffff ; 
}


 
 /*-------------------------------------------- Home Columns---------------------------------------------------------------*/



 /*-------------------------------------Home Columns Responsive Sizing---------------------------------------------*/

@media only screen and (max-width : 1200px) {
 .columns-section-class{
    /*margin: 300px;*/
     height: 70vh!important;
     width: 40vw!important;
    padding-top: 15vh !important;
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    vertical-align: top !important;
    align-items: center;
    float: none !important;
    overflow-x: hidden !important;
    min-height:100%;
    position: relative;
    /*padding-left: 1px !important;*/
     }
}

@media only screen and (max-width : 979px) {
 .columns-section-class{
    margin: 0 auto;
     height: 30vh;
     width: 10vw;
    padding-top: 07vh;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    vertical-align:middle;
    align-items: center;
    float: none;
     }
}

@media only screen and (max-width : 767px) {
 .columns-section-class{
    margin: 0 auto;
     height: 30vh;
     width: 50vw;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    vertical-align:middle;
    align-items: center;
    float: none;
     }
}

@media only screen and (max-width : 480px) {
 .columns-section-class{
    /*margin: 0 auto;*/
    margin: 0 auto;
     height: 0;
     width: 35vw;
    padding-top: 0 !important;
    padding-right: 0;
    padding-left: 0;
    justify-content: center;
    vertical-align: middle !important;
    align-items: center;
    float: none !important;
    overflow-x: hidden !important;
    min-height:100%;
    position: relative
    /*padding-left: 1px !important;*/
     }
     #page-index{
          padding-right: 0;
    padding-left: 0;
    justify-content: center;
    vertical-align: middle !important;
    align-items: center;
    float: none !important;
    overflow-x: hidden !important;

-webkit-background-size: contain;
    
-moz-background-size: contain;
    
-o-background-size: contain;
    
background-size: contain;
background-position: center;
}
}

@media only screen and (max-width : 320px) {
 .columns-section-class{
    margin: 0 auto;
     height: 30vh;
     width: 35vw;
    padding-top: 0;
    padding-right: 0;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    float: none;
    overflow-x: hidden !important;
        min-height:100%;
    position: relative;
    /*padding-left: 1px !important;*/
     }
}


 
 .columns-section-class{
    margin: 0 auto;
     height: 30vh;
     width: 35vw;
    padding-top: 15vh;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    vertical-align:middle;
    align-items: center;
    float: none;
 }
 
 
  /*-------------------------------------Latest News Column---------------------------------------------*/
 
 .section-column-latest-news{
    color:red;
}


.latest-news-item{
    color: #ffffff;
}
 
  /*-------------------------------------Latest Album Column---------------------------------------------*/
 
.section-column-latest-album{
    color:red;
    font-weight: bolder;
    padding-top: 3vh;
}

  /*-------------------------------------Latest Blog Column---------------------------------------------*/

.section-column-blog{
    color:red;
    font-weight: bold;
    margin-top:0;

}

.latest-blog-content{
    color: #ffffff;
}



 /*-------------------------------------------- History Column-------------------------------------------------------------------------*/
 
 
   /*-------------------------------------History Header---------------------------------------------*/
 
 .history-header{
 background-color:transparent;
 background: rgba(255, 0, 0, 0)!important;
  font-family: "Lithos Pro Regular";
 font-size: 3em!important;
  font-weight: bold!important;
  color:red;
  padding-top: 3vh; 
}
 
   /*-------------------------------------Column Appearance---------------------------------------------*/


.history-column{
 padding-top: 10vh!important;
 /*padding-left: 5vw!important;*/
 /*padding-right: 5vw!important;*/
  padding-bottom: 10vh!important;
background: rgba(0, 0, 0, 0.2);
}

  /*------------------------------------1st History Paragraph ---------------------------------------------*/

.raven-history { 
    display: block;
     /*padding-top: 10vh!important;*/
     padding-left: 5vw!important;
     padding-right: 5vw!important;
    font-family: Arial, sans-serif  !important;
    font-weight:800 !important;
    font-size: 1.2em;
    color: white !important;
    text-align: left;
    /*display: flex;*/
    background-color: black!important;
    opacity: 1!important;
    -moz-opacity: 1;
   -khtml-opacity: 1;
   /* opacity: 0.7!important;*/
   /* -moz-opacity: 0.7;*/
   /*-khtml-opacity: 0.7;*/
    float:none;
    margin:0 auto;
    overflow-y:scroll; 
}
    
  /*------------------------------------2nd History Paragraph ---------------------------------------------*/  
    .raven-history-2{
      display: block;
     /*padding-top: 20vh!important;*/
     /*padding-top: 10px!important;*/
     padding-left: 5vw!important;
     padding-right: 5vw!important;
    font-family: Arial, sans-serif  !important;
    font-weight:800 !important;
    font-size: 1.2em;
    color: white !important;
    text-align: left;
    /*display: flex;*/
    background-color: black!important;
    opacity: 1!important;
    -moz-opacity: 1;
   -khtml-opacity: 1;
       float:none;
    margin:0 auto;
   
}


 /*------------------------------------Semi-Transparent Hierarchy Image ---------------------------------------------*/  

.hierarchy { 
 opacity: 1 !important;
 margin-bottom: 15px;

}

.tree-container {
  width: 100%;
  margin: 0 auto;
  /* just to get an apsect ratio same as the SVG's: */
  padding-top: 5%;
  padding-left: 5vw!important;
  padding-right: 5vw!important;
  opacity: 0.7;
  /*backgound: black!important*/
  background: rgba(0, 0, 0, 0.1);

}




 /*-------------------------------------------- Discography Page-------------------------------------------------------------*/
 
 /*------------------------------------Discography Container Padding ---------------------------------------------*/ 

.discography-container{
padding-top: 14vh
}


/*------------------------------------Discography Container Heading ---------------------------------------------*/ 

.discography-header{
 font-family: "Lithos Pro Regular";
 font-size: 3em!important;
  font-weight: bold!important;
  color:red;
  opacity:1!important;
  padding-top: 3vh; 

}

.raven-discography th{
   font-size: 1.6em!important;
     color: red!important;
}


/*------------------------------------Discography Table Appearance ---------------------------------------*/ 

  .raven-discography caption {
     color: red!important;
     font-size: 24px!important;
     font-weight: 900!important;
 }


 .raven-discography td {
   font-size: 1.3em!important;
   color: white!important;
}




 /*-------------------------------------------- Media Page Columns---------------------------------------------------------------*/
 
 /*------------------------------------Responsive Media Columns ---------------------------------------------*/ 
 
@media only screen and (max-width : 1200px) {
 .media-columns-section-class{
    /*margin: 300px;*/
     height: 70vh!important;
     width: 100vw!important;
    padding-top: 20vh !important;
    padding-right: 0;
    justify-content: center;
    vertical-align: top !important;
    align-items: center;
    float: none !important;
    overflow-x: hidden !important;
    min-height:100%;
    position: relative
    /*padding-left: 1px !important;*/
     }
}

@media only screen and (max-width : 979px) {
 .media-columns-section-class{
    margin: 0 auto;
     height: 30vh;
     width: 35vw;
    padding-top: 07vh;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    vertical-align:middle;
    align-items: center;
    float: none;
     }
}

@media only screen and (max-width : 767px) {
 .media-columns-section-class{
    margin: 0 auto;
     height: 30vh;
     width: 35vw;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    vertical-align:middle;
    align-items: center;
    float: none;
     }
}

@media only screen and (max-width : 480px) {
 .media-columns-section-class{
    /*margin: 0 auto;*/
    margin: 0 auto;
     height: 0;
     width: 35vw;
    padding-top: 3!important;
    padding-right: 0;
    justify-content: center;
    vertical-align: top !important;
    align-items: center;
    float: none !important;
    overflow-x: hidden !important;
    min-height:100%;
    position: relative
    /*padding-left: 1px !important;*/
     }
}

@media only screen and (max-width : 320px) {
 .media-columns-section-class{
    margin: 0 auto;
     height: 30vh;
     width: 35vw;
    padding-top: 0;
    padding-right: 0;
    justify-content: center;
    vertical-align:top;
    align-items: center;
    float: none;
    overflow-x: hidden !important;
        min-height:100%;
    position: relative;
    /*padding-left: 1px !important;*/
     }
}

  .media-columns-section-class{
    margin: 0 auto;
     height: 30vh;
     width: 100%;
    padding-top: 18vh;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    vertical-align:middle;
    align-items: center;
    float: none;
 }

/*------------------------------------Music Column Appearance-------------------------------------------*/ 

 .music {
     color: white!important;
     font-weight:800!important;
     font-size: 0.9em!important;
 }
 
  .music2 {
     color: white!important;
     font-weight:800!important;
     font-size: 0.8em!important;
 }
 
  .music-button.play{
    color: red!important;
     font-weight:800!important;
     font-size: 0.8em!important;
  }
 
 
 /*------------------------------------Video Column Appearance-------------------------------------------*/  
  
   .section-column-video{
    color:red;
}

/*------------------------------------Latest News Column Appearance-------------------------------------------*/ 

 .section-column-latest-news{
    color:red;
    /*margin-left:2px;*/
    /*margin-right: 2px;*/
    margin-top:0;
    /*padding-top:30vh!important;*/
}


/*------------------------------------Photo Column Appearance-------------------------------------------*/ 

 .photo-text{
     padding-left: 5vh!important;
     color:red!important;
     font-weight:800!important;
     font-size: 0.9em!important;
 }

.section-column-photos{
     color: red!important;
     font-weight:800!important;
     font-size: 2vh!important;
    padding-left: 4vh!important;
    /*margin-left:2px;*/
    /*margin-right: 2px;*/
}



/*-------------------------------------------- Blog Columns---------------------------------------------------------------*/

/*------------------------------------Blog Padding------------------------------------------*/ 

 .blog-columns{
  padding-left: 30vw;
  padding-right: 30vw;
   padding-top: 18vh;
 }


/*------------------------------------Latest Blog Column------------------------------------------*/ 

 .blog-para{
  margin-top:0;
  margin-bottom: 5vh;
  padding-top: 0;
  color: white!important;
  font-size: medium;
 }
 

 .para-header{
  margin: 0 auto;
  padding-top: 0!important;
  color: red!important;
 }


@media only screen and (max-width : 1200px) {
 .blog-columns{

    padding-top: 32vh !important;
    padding-left: 10vh;
    padding-right: 10vh;

    float: none !important;
    overflow-x: hidden !important;
    min-height:100%;

     }
}

@media only screen and (max-width : 979px) {
 .blog-columns{

    padding-top: 20vh !important;
    padding-left: 10vh;
    padding-right: 10vh;

    float: none !important;
    overflow-x: hidden !important;
    min-height:100%;
     }
}

@media only screen and (max-width : 767px) {
 .blog-columns{

    padding-top: 20vh !important;
    padding-left: 10vh;
    padding-right: 10vh;

    float: none !important;
    overflow-x: hidden !important;
    min-height:100%;
     }
}

@media only screen and (max-width : 480px) {
 .blog-columns{
  
  

    padding-top: 5vw !important;
    padding-left: 5vh;
    padding-right: 5vh;

    float: none !important;
    overflow-x: hidden !important;
    min-height:100%;
    /*margin-bottom: 5%*/
     }
}



@media only screen and (min-width:374px) and (max-width : 376px) {
 .blog-columns{

    padding-top: 10vh!important;
    padding-left: 5vh;
    padding-right: 5vh;

    float: none !important;
    overflow-x: hidden !important;
    min-height:100%;
 }
}


@media only screen and (max-width : 320px) {
 .blog-columns{

    padding-top: 0!important;
    padding-left: 5vh;
    padding-right: 5vh;

    float: none !important;
    overflow-x: hidden !important;
    min-height:100%;
 }
}


/*-------------------------------------------- Tour Dates Columns---------------------------------------------------------------*/

.tour-table  {

    padding-top: 10vw !important;
    padding-left: 10vw;
    padding-right: 10vh;

    float: none !important;
    overflow-x: hidden !important;
    min-height:100%;
    color: white;
 }





 @media only screen and (min-width:1023px) and (max-width : 1025px) {
 .tour-table{

    padding-top: 25vh!important;
    padding-left: 5vh;
    padding-right: 5vh;

    float: none !important;
    overflow-x: hidden !important;
    min-height:100%;
 }
}


 .tour-data{
 color:white;
}


 .tour-head{
 font-size: 2em;
 color:red;
}



/*-------------------------------------------- Links Columns---------------------------------------------------------------*/


.links-header {
 font-family: "Lithos Pro Regular";
 font-size: 3em!important;
  font-weight: bold!important;
  color:red;
  opacity:1!important;
  padding-top: 3vh;
}

.header-shadow
{
    /*color: white;*/
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;  
}


  .links-table th {
  color: red!important;
  /*font-size: 20px!important;*/
  font-size: larger!important;
  padding: 0;
  margin: 0;
}

 .links-table td {
  color: white!important;
    font-size: large!important;
  /*font-size: 20px!important;*/
  font-weight:bold !important;
  padding: 0;
  margin: 0;
 }

 .links-table td a {
  color: white!important;
    font-size: large!important;
  /*font-size: 20px!important;*/
  font-weight:bold !important;
  padding: 0;
  margin: 0;
  /*display:block;*/
  /*width:100%;*/

}



.links-table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  /*font-size: 20px!important;*/
  Cellpadding:0
}




 @media only screen and (max-width : 414px) {
 
 .links-table tbody {
    height: 100px !important;
    overflow: scroll;
    display:block;
    border-spacing: 0;
    border-collapse: collapse;

 }
 
  .links-columns{
   padding-top: 10vh;
   margin: 0 auto;
   float: none;
   padding-left:0;
   padding-right:0;
 
  }
  

}

 @media only screen and (min-width : 415px) {
 

  .links-columns{
   padding-top: 15vh;
   margin: 0 auto;
   float: none;
   border-spacing: 0;
   border-collapse: collapse;
   padding-left:0;
   padding-right:0;   
 
 
  }
  .links-table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  }
  
    .links-table tbody{
       font-size: 20px!important;
  }
}



/*-------------------------------------------- Contacts/Bookings Columns---------------------------------------------------------------*/

   .center-contacts{
     justify-content: center;
    vertical-align:middle;
    align-items: center;
   }
   
   .center-table{
   margin: 0 auto;
   width: 70%;
    /*position: absolute;*/
    text-align: center;
    justify-content: center;
    vertical-align:middle;
    align-items: center;
    float:none!important;
    padding:0!important;
  }
 
 
  .center-form{
   margin: 0 auto;
   width: 70%;
  }
  
  .contact-columns{
   padding-top: 25vh;
   padding-left: 0;
   margin: 0 auto;
   float: none;
  }
   
   /*.contact-heading{*/
   /* padding-left: 10vw!important;*/
    
   /*}*/
 
 
  
  .contact-table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: black;
  color:red;
      text-align: center;
    justify-content: center;
    vertical-align:middle;
    align-items: center;
    margin: 0!important;
    padding:0!important;
    float:none!important;
    white-space: nowrap;
     width: 94%;
  }
  
    .contact-table tbody{
     font-size: 1em!important;
     margin: 0!important;
     background-color: black;
     color:white;
     padding:0!important;
     border: none;
     float:none!important;
     white-space: nowrap;
  }
  
  .borderless.table thead th {
    padding:0!important;
       white-space: nowrap;
}
  
.borderless tr td  {
    border: none !important;
    padding: 0px !important;
    font-size: 1.3em;
      white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.borderless tr{
    border-top: hidden;
}

.booking-form{
 padding-right: 2vw;

}
  
label{
 font-family: Arial, Helvetica, sans-serif!important;
 font-weight: bolder!important;
}
 
 
.bg-no-overlay {
     background: url("../images/Raven-silver-logo-canvas.jpg"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    /*color: #fff;*/
    /*height: 450px;*/
    /*height: 90px;*/
    width: 300px;
    padding-bottom:20px;
} 
 
 .btn-transparent{
  background-color: transparent;
    background-size: contain;
    background-position: center center;
    /*color: #fff;*/
  color: red;
  font-size: 35px;
  font-weight: bolder;
  margin-left: 10px;
  margin-bottom:0.6vh!important;
 }
 .btn-position{
     position:absolute;
    bottom:50%;
    right:50%;
    width:100px;
    height:70px;
    
 }
    
    
/*-------------------------------------------- Footer---------------------------------------------------------------*/    


 
    
    .footer {
  position: absolute;
  top: 50vh;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 450px;
  display: inline-flex;
    }
  
  

@media only screen and (max-width : 1200px) {
    .footer {
   position: absolute;
  top: 85vh;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 450px;
  display: inline-flex;
    }

}

@media only screen and (max-width : 979px) {
    .footer {
   position: absolute;
  top: 80vh;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 450px;
  display: inline-flex;
    }

}

@media only screen and (max-width : 767px) {

}

@media only screen and (max-width : 480px) {
   .footer {
  position: absolute;
  top: 70vh;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 450px;
  display: inline-flex;
    }
 
}
  

  @media only screen and (min-width:374px) and (max-width : 376px) {
  .footer {
  position: absolute;
  top: 60vh;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 450px;
  display: inline-flex;
    }
   
  }
  
    @media only screen and (max-width : 373px) {
    .footer {
   position: absolute;
  top: 50vh;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 450px;
  display: inline-flex;
    }
} 

  @media only screen and (max-width : 321px) {
    .footer {
   position: absolute;
  top: 70vh;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 450px;
  display: inline-flex;
    }
} 

  .raven-logo{
    float: none;
    vertical-align: bottom;
    position:relative;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0;
     bottom:0;
     margin-bottom: 0;
}
  .copyright{
   font-family: sans-serif;
   color: red!important;
   font-size: 2vw!important;
   background-color: transparent!important;
   font-weight: bolder;
   position:relative;
    display: flex;
    align-items: flex-end;
    /*float: none;*/
    padding-bottom: 0;
    vertical-align: bottom;
     bottom:0;
     margin-bottom: 0;

  }
  
  
  .contact{
    /*float: none;*/
    vertical-align: bottom;
    display: flex;
    align-items: flex-end;
    /*float: none;*/
    padding-bottom: 0;
    bottom:0;
    margin-bottom: 0;
    font-family: "Lithos Pro Regular";
   font-size: 4vw!important;
   font-weight: bold!important;
   color:red;
   opacity:1!important;
  /*padding-top: 3vh;*/
  }
  

.contact-shadow
{
    /*color: white;*/
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;  
}

  
  .contact-link{
   /*font-family: sans-serif;*/
   color: red!important;
   font-size: 4vw!important;
   background-color: transparent!important;
  }


/*-------------------------------------------- History Footer-----------------------------------------------*/ 

    .history-footer {
  top: 220vh;
  display:flex;
  position: absolute;
  align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  /*padding: 1rem;*/
  text-align: center;
  height: 400px;
  /*width: 80vw;*/
  background:black;
  
    }

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}




/*-------------------------------------------- Discography Footer-----------------------------------------------*/ 

    .discography-footer {
  display:flex;
  position: relative;
  align-items: flex-end;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 450px;
  background:black;


}


/*-------------------------------------------- Media Footer-----------------------------------------------*/ 

    .media-footer {
  display:flex;
  position: relative;
  align-items: flex-end;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 450px;
  background:black;


}


/*-------------------------------------------- Tour Dates Footer-----------------------------------------------*/ 

    .tour-footer {
  display:flex;
  position: relative;
  align-items: flex-end;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 450px;
  background:black;


}


/*-------------------------------------------- Booking Footer-----------------------------------------------*/ 

    .booking-footer {
  display:flex;
  position: relative;
  align-items: flex-end;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 450px;
  background:black;


}


/*-------------------------------------------- Blog Footer-----------------------------------------------*/ 

    .blog-footer {
  display:flex;
  position: relative;
  align-items: flex-end;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 450px;
  /*background:black;*/
  /*background: rgba(0, 0, 0, 0);*/
  background: transparent;


}


/*-------------------------------------------- Links Footer-----------------------------------------------*/ 

    .links-footer {
  display:flex;
  position: relative;
  align-items: flex-end;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  height: 450px;
  /*background:black;*/
  /*background: rgba(0, 0, 0, 0);*/
  background: transparent;


}


